body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
.org-color{
    color: orangered;
}
section{
    display: flex;

}
.para1{
   
    width: 70%;
    padding-left: 1%;
}
.para1 img{
    width: 100%;
}
.link-button{
   text-decoration: none;
   background-image: linear-gradient(rgb(233, 120, 139), rgb(192, 24, 192));
   color: white;
   font-weight: 800;
   padding: 2px 50px;
   border-radius: 5px;
   
}
.top{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.bottom{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}